<table>
  <thead>
    <tr>
      <h3>Menu Narrow Down Result</h3>
    </tr>
  </thead>
  <tbody>
    <th align="left"></th>
    <th align="left" ng-show='found.items && found.items.length !== 0'>Menu Name</th>
    <th align="left" ng-show='found.items && found.items.length !== 0'>Short Name</th>
    <th align="left"></th>
    <tr align="left" style="height:2em" class="row" ng-repeat-start="result in found.items">
      <td align="left">
        <a class="glyphicon glyphicon-hand-right"
           href="#" ng-click="showDetails = ! showDetails">
        {{ result.name }}
        </a>
      </td>
      <td align="left">
        <span>
        {{ result.short_name }}
        </span>
      </td>
      <td align="left">
        <button class="btn-primary btn-xs"
              ng-click='found.onRemove({index: $index});'>Remove</button>
      </td>
    </tr>
    <tr ng-show="showDetails" ng-repeat-end="">
      <td colspan="3">{{ result.description }}</td>
    </tr>
  </tbody>
</table>
